html {
  font-size: 66.5%;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.project {
  min-height: 100vh;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.section__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -5;
    opacity: .4;
}

ul {
  list-style-type: none;
}

/*
  MEAL DEALS VIEW ///////////////////////////////////////////////////
*/

.itemlist{
  margin: 3rem;
  background-color: #e0ded8;
  color: black;
  border-radius: 4%;
  box-shadow: 5px 5px 3px black;
  font-size: 1.3rem;
}

.itemlist ul li {
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid rgb(112, 112, 180);
  align-items: center;
}

.itemlist ul li:last-child {
  border-bottom: none;
}

.itemlist ul li input {
  margin-right: 1rem;
}

/*
  SLIDE INTO VIEW ///////////////////////////////////////////////////
*/

.slide__block{
  max-width: 90%;
  padding: 40px;
  text-align: justify;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 1.2rem;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/*
  KONAMI CODE ///////////////////////////////////////////////////
*/

#konami__code h1{
  color: white;
  font-size: 6rem;
}

/*
  VIDEO PLAYER ///////////////////////////////////////////////////
*/

#video__section {
  background: linear-gradient(rgb(126, 15, 98), rgb(145, 39, 131));
}

.player {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px black;
}
.video__controls {
  position: absolute;
  bottom: -35px;
  transition: all .2s;
  width: 100%;
  background-color: rgba(0,0,0,0.4)
}
.player:hover .video__controls {
  bottom: 0px;
}
.progress__filled {
  background-color: #606bcc;
  width: 100%;
}
.toggle{
  width: 3rem;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 2rem;
}
.progress {
  flex: 10;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

/*
  MEAL DEALS ART ///////////////////////////////////////////////////
*/


/*
  TASKLIST ART ///////////////////////////////////////////////////
*/

.tasks {
  background-color: #c7c4bb;
  margin: 5rem auto;
  color: black;
}

.task {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #819bca;
}

.task p {
  padding: 1.4rem;
  transition: all .2s;
  flex: 1;
  font-size: 1.3rem;
  border-left: 1px solid #819bca;
}

.check {
  margin: 1rem;
}

.check:checked + p {
  text-decoration: line-through;
  background-color: #8ed47c;
}

/*
  CHECKBOX ART ///////////////////////////////////////////////////
*/

#checkboxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 19rem;
}

/*
  CANVAS ///////////////////////////////////////////////////
*/

#draw{
  cursor: crosshair;
}

.canvas__text {
  position: absolute;
  color: white;
  z-index: -1;
}

/*
  AJAX ///////////////////////////////////////////////////
*/

#ajax{
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset label {
  color: white;
  margin: 1rem;
  font-size: 2.3rem;
}

fieldset input {
  font-size: 2rem;
  padding: .2rem;
}

fieldset input:focus {
  outline: none;
}

.searchArea ul {
  color: white;
  list-style: none;
  width: 100%;
  max-height: 50rem;
  overflow: scroll;
  overflow-x: hidden;
}

.searchArea ul::-webkit-scrollbar{
  width: 0px;
}

.searchArea ul li {
  text-transform: capitalize;
  font-size: 1.4rem;
  padding: 1.4rem 1.8rem;
  background-color: #c7c4bb;
  color: rgb(20, 20, 20);
  border-bottom: 2px solid rgb(170, 170, 170);
  letter-spacing: 1px;
}

.searchArea ul li:nth-child(odd) {
  
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.searchArea ul li:nth-child(even) {
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
}

span .hl {
  background-color: rgb(163, 189, 228);
}

/*
DRUMS
*/

.keys {
  display: flex;
  flex-wrap: wrap;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
  

/* CLOCK */

.clock {
  display: flex;
  justify-content: center;
}

.hand {
  background-color: rgb(96, 125, 179);
  display: flex;
  position: relative;
  width: 13rem;
  height: 13rem;
  margin: 1rem;
  justify-content: center;
  box-shadow: 0 2px 4px black;
  padding: 4rem;
}

.hand::after {
  content: "";
  background: linear-gradient(rgb(96, 125, 179), transparent 40%);
  position: absolute;
  top: 14rem;
  display: flex;
  width: 13rem;
  height: 13rem;
}

.hand span {
  font-size: 4rem;
  color: white;
  display: flex;
  align-items: center;
}

/*
  CONTROLS ////////////////////////////////////////////
*/

:root {
  --base: #fc1245;
  --spacing: 5px;
  --blur: 0px;
}

#controls {
  flex-direction: column;
}

.controls__img__frame {
  background-color: var(--base);
  width: 80%;
  height: auto;
  max-height: 75%;
  max-width: 600px;
  height: auto;
}

.controls__img {
  display: block;
  padding: var(--spacing);
  filter: blur(var(--blur));
  width: 100%;
}

/*
  GALLERY ///////////////////////////////////////////////////
*/

#gallery {
  overflow: hidden;
  align-items: stretch;
}

.panel {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 2rem;
  transition: 
    font-size 0.7s cubic-bezier(0.175, -0.19, 0.32, 1.275), 
    flex 0.7s cubic-bezier(0.175, -0.19, 0.32, 1.275), 
    background 0.2s;
  background-size: cover;
  background-position: center;
  transform: skewX(-2deg);
}

.panel1{
  background-image: url('./gallery/image1.jpg')
}
.panel2{
  background-image: url('./gallery/image2.jpg')
}
.panel3{
  background-image: url('./gallery/image3.jpg')
}
.panel4{
  background-image: url('./gallery/image4.jpg')
}
.panel5{
  background-image: url('./gallery/image5.jpg')
}

.panel > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 0 auto;
  transition: transform 0.5s;
  text-shadow: 0px 2px 4px black;
  transform: skewX(2deg);
}

.panel.open {
  flex: 5;
  font-size: 3rem;
}

.panel > :nth-child(2) {
  font-size: 3rem;
}

.panel > *:first-child {transform: translateY(-100%)}
.panel.open-active >*:first-child{transform: translateY(0)}
.panel > *:last-child {transform: translateY(100%)}
.panel.open-active >*:last-child{transform: translateY(0)}
/*
  MEDIA QUERIES ////////////////////////////////////////////
*/

@media screen and (max-width: 500px) {
  .hand{
    width: 9rem;
    height: 9rem;
    padding: 2rem;
  }
  .hand::after {
    width: 9rem;
    height: 9rem;
    top: 10rem;
  }
  .panel {
    font-size: 1.3rem;
  }
  .panel.open {
    font-size: 1rem;
  }
  .panel > :nth-child(2) {
    font-size: 1.3rem;
  }
  .key {
    width: 7rem;
    font-size: 1rem;
  }
  .sound {
    font-size: 1rem;
  }
  kbd {
    font-size: 1.3rem;
  }

}