html {
  font-size: 66.5%;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.project {
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.section__img {
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -5;
    opacity: .4;
}

ul {
  list-style-type: none;
}

/*
  HANGMAN GAME
*/

.hangletter {
  font-size: 2rem;
  margin: .3rem;
  padding: .4rem .8rem;
  cursor: pointer;
}

/*
  JS ANIM GAME
*/

.animcanvas {
  border: 3px solid black;
  width: 400px;
  height: 800px;
}

/*
  MOLE HILLS GAME
*/

#molegame {
  display: flex;
  flex-direction: column;
}

#molegame h2 {
  margin: 10rem;
  background: none;
  font-size: 3rem;
}

#molegame button {
  margin-bottom: 8rem;
}

.molehills {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('./moles/dirt.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('./moles/mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}


/*
  MEMORY MATCH SECTION  ///////////////////////////////////////////////////
*/

#memorymatch {
  flex-direction: column;
}
#memorymatch h1 {
  margin-bottom: 2rem;
}

.tiles{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 140px));
  grid-template-rows: repeat(4, minmax(125px, 200px));
  gap: 1rem;
  perspective: 2000px;
  max-height: 100vh;
}

.card {
  position: relative;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: .4s ease;
}

.card:hover {
  cursor: pointer;
}

.togglecard {
  transform: rotateY(180deg); 
}

.card img {
  border-radius: 20px;
}

.face, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.face {
  transform: rotateY(180deg);
}

.back {
  background-color: white;
  border-radius: 20px;
  backface-visibility: hidden;
  
}

/*
    COUNTDOWN SECTION  ///////////////////////////////////////////////////
*/

#countdown {
  flex-direction: column;
  position: relative;
}

.timerButtons {
  align-self: flex-start;
  justify-self: flex-start;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  box-shadow: 0 2px 5px black;
}

.timerButtons button {
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  cursor: pointer;
}

.timerButtons input{
  height: 100%;
  padding-left: 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
}

.timerButtons input:focus {
  border: none;
  outline: none;
}

.display__timeleft {
  font-size: 12rem;
  background-color: transparent;
  letter-spacing: 1rem;
}
.display__endtime {
  font-size: 4rem;
  background-color: transparent;
  letter-spacing: .2rem;
}

/*
  VIDEO SPEED SECTION  ///////////////////////////////////////////////////
*/

.videowrapper {
  width: 850px;
  display: flex;
}

video .flex {
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
}

.speed {
  background: #efefef;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
  min-width: 6rem;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  height: 16.3%;
}

/*
  CLICK N DRAG NAV SECTION  ///////////////////////////////////////////////////
*/

.sidescroll {
  height: 800px;
  padding: 100px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  font-size: 0;
  perspective: 2000px;

}

.sidescroll.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width: 200px;
  height: calc(100% - 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color: rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

.item:nth-child(9n+1) { background: dodgerblue;}
.item:nth-child(9n+2) { background: goldenrod;}
.item:nth-child(9n+3) { background: paleturquoise;}
.item:nth-child(9n+4) { background: gold;}
.item:nth-child(9n+5) { background: cadetblue;}
.item:nth-child(9n+6) { background: tomato;}
.item:nth-child(9n+7) { background: lightcoral;}
.item:nth-child(9n+8) { background: darkslateblue;}
.item:nth-child(9n+9) { background: rebeccapurple;}

.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }

/*
  STRIPE NAV SECTION  ///////////////////////////////////////////////////
*/

.topNav{
  align-self: flex-start;
}

.topNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.innerlist li {
  position: relative;
  display: flex;
  justify-content: center;
}

.innerlist > li > a {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0,0,0,0.2);
  padding: 10px 20px;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
  color: black;
  font-size: 1.7rem;
}

.dropdown1 {
  min-width: 40rem;
}

.dropdownBackground {
  width: 300px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: translateY(-50%) rotate(45deg);
}

.dropdown a {
  text-decoration: none;
  color: #ffc600;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown{
  opacity: 1;
}


/*
  STICK NAV SECTION  ///////////////////////////////////////////////////
*/

#stickynav{
  align-items: flex-start;
}

.sticky__nav{
  top: 0;
  position: relative;
  background-color: black;
  width: 100%;
}

.sticky__nav ul {
  display: flex;
  justify-content: space-evenly;
}

.sticky__nav ul li {
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.sticky__nav ul li:hover {
  background-color: #1e485f;
}

.sticky__nav ul li a {
  padding: 2rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.fixed-nav .sticky__nav {
  position: fixed;
  top: 0;
  box-shadow: 0 5px rgba(0, 0, 0, .1);
  z-index: 5;
}

/*
  SPEECH SYNTHESIS SECTION  ///////////////////////////////////////////////////
*/

.speechsyn {
  display: flex;
  flex-direction: column;
  background-color: #ffc600;
  color: black;
  padding: 2rem;
  border-radius: 20px;
}

/*
  FOLLOW LINKS SECTION  ///////////////////////////////////////////////////
*/

.followLinks {
  align-self: flex-start;
  padding: 3rem;
}

.followLinks ul {
  display: flex;
}

.followLinks ul li a {
  padding: 2rem;
  font-size: 1.4rem;
}

.followLink {
  color: white; 
}

.fluff{
  font-size: 1.5rem;
  padding: 3rem;
  line-height: 2rem;
}

.highlight{
  transition: all .2s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(196, 80, 80);
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px black;
}

/*
  SPOKEN WORDS SECTION  ///////////////////////////////////////////////////
*/

.words {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem;
  color: black;
  font-size: 1.4rem;
  max-height: 80vh;
  min-width: 20rem;
  min-height: 5rem;
}

.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}
/*
  WEBCAM FUN SECTION  ///////////////////////////////////////////////////
*/

#photobooth {
  position: relative;
  background: black;
  max-width: 150rem;
  margin: 2rem auto;
  border-radius: 2px;
  color: white;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.webcam__photo {
  width: 100%;
  float: left;
}

.webcam__player {
  border: 1px solid black;
  position: absolute;
  top: 20px;
  right: 20px;
  width:200px;
}

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }


/*
  TOTAL TIME SECTION  ///////////////////////////////////////////////////
*/

#totaltimes {
  flex-direction: column;
  font-size: 2rem;
}

/*
  BANDS LIST  ///////////////////////////////////////////////////
*/

#bands {
  flex-direction: column;
}

.bands__list {
  font-size: 2rem;
}

.bands__list li {
  text-align: center;
  margin: .3rem;
}

#bands button {
  margin-top: 2rem;
  font-size: 1.4rem;
  padding: .4rem .6rem;
}

/*
  CSS shadow ///////////////////////////////////////////////////
*/

.text__container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__container h1 {
  text-shadow: 10px 10px 0 rgba(0,0,0,1);
  font-size: 5rem;
}
/*
  MEAL DEALS  ///////////////////////////////////////////////////
*/

.itemlist{
  margin: 3rem;
  background-color: #e0ded8;
  color: black;
  border-radius: 4%;
  box-shadow: 5px 5px 3px black;
  font-size: 1.3rem;
  max-height: 95vh;
}

.itemlist ul li {
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid rgb(112, 112, 180);
  align-items: center;
}

.itemlist ul li:last-child {
  border-bottom: none;
}

.itemlist ul li input[type="radio"] {
  margin-right: 1rem;
}

.mealForm {
  display: flex;
}

.mealForm input[type="text"] {
  width: 100%;
  font-size: 1.8rem;
  border: none;
  outline: none;
  padding: .2rem .4rem;
}

div > h2 {
  text-align: center;
  padding: 1rem;
  background-color: rgb(161, 161, 221);
  border-radius: 5px 5px 0 0px;
}

/*
  SLIDE INTO VIEW ///////////////////////////////////////////////////
*/

.slide__block{
  max-width: 90%;
  padding: 40px;
  text-align: justify;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 1.2rem;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
  max-width: 50%;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/*
  KONAMI CODE ///////////////////////////////////////////////////
*/

#konami__code h1{
  color: white;
  font-size: 6rem;
}

/*
  VIDEO PLAYER ///////////////////////////////////////////////////
*/

#video__section {
  background: linear-gradient(rgb(126, 15, 98), rgb(145, 39, 131));
}

.player {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px black;
}
.video__controls {
  position: absolute;
  bottom: -35px;
  transition: all .2s;
  width: 100%;
  background-color: rgba(0,0,0,0.4)
}
.player:hover .video__controls {
  bottom: 0px;
}
.progress__filled {
  background-color: #606bcc;
  width: 100%;
}
.toggle{
  width: 3rem;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 2rem;
}
.progress {
  flex: 10;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

/*
  MEAL DEALS ART ///////////////////////////////////////////////////
*/


/*
  TASKLIST ART ///////////////////////////////////////////////////
*/

.tasks {
  background-color: #c7c4bb;
  margin: 5rem auto;
  color: black;
}

.task {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #819bca;
}

.task p {
  padding: 1.4rem;
  transition: all .2s;
  flex: 1;
  font-size: 1.3rem;
  border-left: 1px solid #819bca;
}

.check {
  margin: 1rem;
}

.check:checked + p {
  text-decoration: line-through;
  background-color: #8ed47c;
}

/*
  CHECKBOX ART ///////////////////////////////////////////////////
*/

#checkboxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 19rem;
}

/*
  CANVAS ///////////////////////////////////////////////////
*/

#draw{
  cursor: crosshair;
}

.canvas__text {
  position: absolute;
  color: white;
  z-index: -1;
}

/*
  AJAX ///////////////////////////////////////////////////
*/

#ajax{
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset label {
  color: white;
  margin: 1rem;
  font-size: 2.3rem;
}

fieldset input {
  font-size: 2rem;
  padding: .2rem;
}

fieldset input:focus {
  outline: none;
}

.searchArea ul {
  color: white;
  list-style: none;
  width: 100%;
  max-height: 50rem;
  overflow: scroll;
  overflow-x: hidden;
}

.searchArea ul::-webkit-scrollbar{
  width: 0px;
}

.searchArea ul li {
  text-transform: capitalize;
  font-size: 1.4rem;
  padding: 1.4rem 1.8rem;
  background-color: #c7c4bb;
  color: rgb(20, 20, 20);
  border-bottom: 2px solid rgb(170, 170, 170);
  letter-spacing: 1px;
}

.searchArea ul li:nth-child(odd) {
  
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.searchArea ul li:nth-child(even) {
  clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
}

span .hl {
  background-color: rgb(163, 189, 228);
}

/*
DRUMS
*/

.keys {
  display: flex;
  flex-wrap: wrap;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
  

/* CLOCK */

.clock {
  display: flex;
  justify-content: center;
}

.hand {
  background-color: rgb(96, 125, 179);
  display: flex;
  position: relative;
  width: 13rem;
  height: 13rem;
  margin: 1rem;
  justify-content: center;
  box-shadow: 0 2px 4px black;
  padding: 4rem;
}

.hand::after {
  content: "";
  background: linear-gradient(rgb(96, 125, 179), transparent 40%);
  position: absolute;
  top: 14rem;
  display: flex;
  width: 13rem;
  height: 13rem;
}

.hand span {
  font-size: 4rem;
  color: white;
  display: flex;
  align-items: center;
}

/*
  CONTROLS ////////////////////////////////////////////
*/

:root {
  --base: #fc1245;
  --spacing: 5px;
  --blur: 0px;
}

#controls {
  flex-direction: column;
}

.controls__img__frame {
  background-color: var(--base);
  width: 80%;
  height: auto;
  max-height: 75%;
  max-width: 600px;
  height: auto;
}

.controls__img {
  display: block;
  padding: var(--spacing);
  filter: blur(var(--blur));
  width: 100%;
}

/*
  GALLERY ///////////////////////////////////////////////////
*/

#gallery {
  overflow: hidden;
  align-items: stretch;
}

.panel {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 2rem;
  transition: 
    font-size 0.7s cubic-bezier(0.175, -0.19, 0.32, 1.275), 
    flex 0.7s cubic-bezier(0.175, -0.19, 0.32, 1.275), 
    background 0.2s;
  background-size: cover;
  background-position: center;
  transform: skewX(-2deg);
}

.panel1{
  background-image: url('./gallery/image1.jpg')
}
.panel2{
  background-image: url('./gallery/image2.jpg')
}
.panel3{
  background-image: url('./gallery/image3.jpg')
}
.panel4{
  background-image: url('./gallery/image4.jpg')
}
.panel5{
  background-image: url('./gallery/image5.jpg')
}

.panel > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 0 auto;
  transition: transform 0.5s;
  text-shadow: 0px 2px 4px black;
  transform: skewX(2deg);
}

.panel.open {
  flex: 5;
  font-size: 3rem;
}

.panel > :nth-child(2) {
  font-size: 3rem;
}

.panel > *:first-child {transform: translateY(-100%)}
.panel.open-active >*:first-child{transform: translateY(0)}
.panel > *:last-child {transform: translateY(100%)}
.panel.open-active >*:last-child{transform: translateY(0)}
/*
  MEDIA QUERIES ////////////////////////////////////////////
*/

@media screen and (max-width: 500px) {
  .hand{
    width: 9rem;
    height: 9rem;
    padding: 2rem;
  }
  .hand::after {
    width: 9rem;
    height: 9rem;
    top: 10rem;
  }
  .panel {
    font-size: 1.3rem;
  }
  .panel.open {
    font-size: 1rem;
  }
  .panel > :nth-child(2) {
    font-size: 1.3rem;
  }
  .key {
    width: 7rem;
    font-size: 1rem;
  }
  .sound {
    font-size: 1rem;
  }
  kbd {
    font-size: 1.3rem;
  }

}